

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

::-moz-selection {
    background-color: #dd2020;
    color: #fff;


::selection {
    background-color: #dd2020;
    color: #fff;
}

.footer{
    bottom:0;
    position: fixed;
}













